{%extends 'base.html' %}

{%block title%}
Página inícial
{%endblock title%}

{% block content%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="http://127.0.0.1:8000">Início</a></li>
      <li class="breadcrumb-item"aria-current="page"><a href="http://127.0.0.1:8000/contato">Contatos</a></li>
      <li class="breadcrumb-item"aria-current="page"><a href="http://127.0.0.1:8000/mensagem/upload">Upload de imagem</a></li>
      <li class="breadcrumb-item active" aria-current="page">Enviar imagem</li>
    </ol>
  </nav>
<div>
    <form action="http://127.0.0.1:8000/mensagem/imagem" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="margin-bottom" style="text-align: right;margin: 0 14px; margin-bottom: 1.2rem">
            <a href="http://127.0.0.1:8000/mensagem/upload" class="btn btn-success">&laquo; Voltar</a>
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
        {% for item in form %}
            <div class="fieldWrapper">
                {{ item }}
            </div>
        {% endfor %}
    </form>
</div>
<div>
    <h1>Lista de selecionados</h1>
    <a class="btn btn-secondary" href="http://127.0.0.1:8000/" role="button">Selecionar novamente</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Contato</th>            
            </tr>
            </thead>
            <tbody>
            {%for contato in contatos%}
            <tr>
                <td>{{contato.pk}}</td>
                <td>{{contato.nome}}</td>
                <td>{{contato.contato}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
</div>
{% endblock content%}