{%extends 'base.html' %}

{%block title%}
Página inícial
{%endblock title%}

{% block content%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="http://127.0.0.1:8000">Início</a></li>
      <li class="breadcrumb-item"aria-current="page"><a href="http://127.0.0.1:8000/contato">Contatos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Upload de imagem</li>
    </ol>
  </nav>
<div>
    <form action="http://127.0.0.1:8000/mensagem/upload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="margin-bottom" style="text-align: right;margin: 0 14px; margin-bottom: 1.2rem">
            <a href="http://127.0.0.1:8000/contato" class="btn btn-success">&laquo; Voltar para seleção</a>
            <a href="http://127.0.0.1:8000/mensagem/imagem" class="btn btn-success">Enviar imagem &raquo;</a>
        </div>
        {% for item in form %}
        {{item}}
        {% endfor %}
    </form>
    
</div>
<div>
    <h1>Lista de selecionados</h1>
        <table class="table">
            <!-- <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Imagem</th>
                <th scope="col">Selecionar</th>            
            </tr>
            </thead> -->
            <tbody>
                {%for imagem in imagens%}
                    <td>{{imagem.pk}}</td>
                    <td><img src="{{imagem.imagem.url}}"></td>
                    <td>
                        <input type='checkbox'  class="form-check-input" name='check[]' value='{{contato.pk}}' id="checkbox"></input>
                    <td>
                {%endfor%}


            </tbody>
    
</div>
{% endblock content%}