{%extends 'base.html' %}

{%block title%}
Página inícial
{%endblock title%}

{% block content%}

<div class="container-fluid" id="formulario">

    <form action="" method="POST" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    {% if messages %}
        {%for message in messages %}
        <div class="alert alert-warning" role="alert">
        {{ message }}
        </div>
        {%endfor%}
    {% endif %}    
    <button type="submit" class="btn btn-info">Confirmar</button>
</form>
</div>
<div>
    {%if contatos%}
        Numero de contatos:{{contatos|length}}
        <h1>Lista de Contatos</h1>

        <form method="post" enctype="multipart/form-data" action="http://127.0.0.1:8000/contato/selecionados">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Selecionar</button>
            
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Contato</th>
                        <th>
                            <input type="checkbox" class="form-check-input" id="selectAll">
                        </th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    {%for contato in contatos%}
                    <tr>
                        <td>{{contato.pk}}</td>
                        <td>{{contato.nome}}</td>
                        <td>{{contato.contato}}</td>
                        <td>
                                <input type='checkbox'  class="form-check-input" name='check[]' value='{{contato.pk}}' id="checkbox"></input>
                        <td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
        </form> 
<script>
    document.getElementById('selectAll')
              .addEventListener('change', function () {
        let checkboxes = 
            document.querySelectorAll('.form-check-input');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = this.checked;
        }, this);
    });
</script>
<!-- <script>
    

    $('#selectAll').click(function (e) {
        if (this.checked) {
            // Iterate each checkbox
            $(':check').each(function () {
                this.checked = true;
            });
        } else {
            $(':check').each(function () {
                this.checked = false;
            });
        }
    });

</script> -->
{%else%}
            
{% endif %}  
</div>
{% endblock content%}