{%extends 'base.html' %}

{%block title%}
Página inícial
{%endblock title%}

{% block content%}
<div>
<form action="" method="POST" class="ui form" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    {% if messages %}
        {%for message in messages %}
        <div class="alert alert-warning" role="alert">
        {{ message }}
        </div>
        {%endfor%}
    {% endif %}
    <button type="submit" class="btn btn-info">Confirmar</button>
</form>
</div>


<!-- <div>
<h1>Lista de Contatos</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Contato</th>
                <th scope="col">Selecionar</th>
            </tr>
            </thead>
            <tbody>
            {%for pessoa in object_list%}
            <tr>
                <td>{{pessoa.pk}}</td>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.contato}}</td>
                <td>
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                </td>
            </tr>
            {%endfor%}
        
            </tbody>
        </table>
</div> -->


{% endblock content%}