{% load static %}

{%block title%}
Atualizar contato
{%endblock title%}
{% block content%}

 <form hx-post="{{ request.path }}" class="modal-content">
  {% csrf_token %}
  
  <div class="modal-header">
    <h5 class="modal-title">Editar contato</h5>
  </div>
  <div class="modal-body">
    {{ form.as_p }}
  </div>
  <div class="modal-footer">
    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary btn-sm">Salvar</button>
    <button type="submit" class="btn btn-light btn-sm" data-dismiss="modal">Cancelar</button>
  </div>
</form>

  {% endblock content%}
