
<h1>Lista de Contatos</h1>

    <form method="post" enctype="multipart/form-data" action="http://127.0.0.1:8000/contato/">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Confirmar</button>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Contato</th>
                <th>
                    <input type="checkbox" class="form-check-input" id="selectAll" />
                </th>
                
            </tr>
            </thead>
            <tbody>
            {%for contato in contatos%}
            <tr>
                <td>{{contato.pk}}</td>
                <td>{{contato.nome}}</td>
                <td>{{contato.contato}}</td>
                <td>
                     <input type='checkbox'  class="form-check-input" name='check[]' value='{{contato.pk}}'></input>
                <td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </form> 
    <script>

        $('#selectAll').click(function (e) {
            if (this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });
    
    </script>