`{%extends 'base.html' %}

{%block title%}
Página inícial
{%endblock title%}

{% block content%}
<h1>Lista de Contatos</h1>
<button type="submit" class="btn btn-info" value="Enviar">Selecionar</button>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Contato</th>
                <th scope="col">Selecionar</th>
            </tr>
            </thead>
            <tbody>
            {%for pessoa in object_list%}
            <tr>
                <td>{{pessoa.pk}}</td>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.contato}}</td>
                <td>
                    <input type="checkbox"   class="selecao"  multiple value="{{ True }}" name="selecionar" id="selecionado"></td>
            </tr>
            {%endfor%}
        
            </tbody>
        </table>
{% endblock content%}